<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Hello</title>
</head>
<body>
    <div class = 'container' style='padding-top: 50px;'>
        <center>
        <h1><b>Métodos Numéricos</b></h1>
    <a href="{{ url_for('cholesky_window') }}"><h3>Cholesky</h3></a>
    <a href="{{ url_for('cholesky_window') }}"><h3>Cholesky para Machine Learning</h3></a> 
    <a href="{{ url_for('regla_trapecio') }}"><h3>Regla del Trapecio </h3></a>
</center>
</div>
</body>
</html>
